<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Form-Based Calculator</title>
</head>
<body>
	<h1>Calculator</h1>
	<h2>Add:
		<form action="/add" method="POST">
			x: <input type="text" name="x" placeholder="Number">
			y: <input type="text" name="y" placeholder="Number">
			<input type="submit">
		</form>
	</h2>
	<h2>Subtract:
		<form action="/subtract" method="POST">
			x: <input type="text" name="x" placeholder="Number">
			y: <input type="text" name="y" placeholder="Number">
			<input type="submit">
		</form>
	</h2>
	<h2>Multiply:
		<form action="/multiply" method="POST">
			x: <input type="text" name="x" placeholder="Number">
			y: <input type="text" name="y" placeholder="Number">
			<input type="submit">
		</form>
	</h2>
	<h2>Divide:
		<form action="/divide" method="POST">
			x: <input type="text" name="x" placeholder="Number">
			y: <input type="text" name="y" placeholder="Number">
			<input type="submit">
		</form>
	</h2>
</body>
</html>